<div class="flex flex-col h-screen justify-center items-center">
    <div class="text-center absolute -z-10 top-24 h-[327.562px] w-[317.562px] shrink-0 rounded-[327.562px] opacity-30 blur-[45px] [background:linear-gradient(184deg,#FEFFFE_23.18%,#99FF89_62.74%,#FFD600_92%)]"></div>
  <h1 class="text-2xl font-bold uppercase mb-6">Pokemox</h1>
  <div class="w-72 lg:w-1/4 border border-gray-300 rounded-md">
    <div class="bg-white shadow-md rounded-md p-6">
      <div class="text-center">
        <h2 class="text-2xl font-bold">Connectez-vous</h2>
        <p>
          <em>{{ message }}</em>
        </p>
      </div>
      <form #loginForm="ngForm" class="mt-4">
        <div class="mb-4">
          <label for="name" class="block">Identifiant</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="name"
            name="name"
            required
            class="w-full border rounded-md px-3 py-2 mt-1"
          />
        </div>
        <div class="mb-4">
          <label for="password" class="block">Mot de passe</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            class="w-full border rounded-md px-3 py-2 mt-1"
          />
        </div>
        <div class="text-center">
          <a
            (click)="login()"
            class="inline-flex cursor items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 mt-5 max-w-max border-b-[3px] border-l border-r border-t border-[#D3D3D3] bg-[#FBFBFB] text-black hover:bg-neutral-200"
            *ngIf="!authService.isLoggedIn">Se connecter</a
          >
          <a
            (click)="logout()"
            class="text-blue-500 px-4 py-2 rounded-md inline-block"
            *ngIf="authService.isLoggedIn"
            >Se déconnecter</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
